NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j

UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

CLERK_SECRET_KEY=

GEMINI_API_KEY=
GROQ_API_KEY=
SARVAM_API_KEY=

CLOUDINARY_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_API_BASE_URL=

NODE_ENV=development
PORT=5000

RENDER_WORKFLOW_SECRET=